/* Resets and base styles from HTML5 Boilerplate */
div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover, a:active {
  outline: none;
}

ul, ol {
  margin-left: 2em;
  vertical-align: top;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

textarea {
  overflow: auto;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}
input:invalid .no-boxshadow, textarea:invalid .no-boxshadow {
  background-color: #f0dddd;
}

button {
  width: auto;
  overflow: visible;
}

select, input, textarea {
  color: #444444;
}

a {
  color: #607890;
}
a:hover, a:focus {
  color: #036;
}
a:link {
  -webkit-tap-highlight-color: #fff;
}

/* End HTML5 Boilerplate adaptations */
h1 {
  font-size: 4em;
  font-weight: bold;
  padding-top: 1em;
  max-height: 100%;
  margin-left: .5em;
}

.vcenter {
  text-align: center;
}

.csstransforms h1, .csstransforms .vcenter {
  padding: 0 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 33%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.vcenter h1 {
  position: relative;
  top: auto;
  padding: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

h2 {
  font-size: 2.25em;
  font-weight: bold;
  padding-top: .5em;
  margin: 0 0 .66666em 0;
  border-bottom: 3px solid #888;
}

h3 {
  font-size: 1.4375em;
  font-weight: bold;
  margin-bottom: .30435em;
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: .25em;
}

h5 {
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: .2222em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

img, iframe, video {
  display: block;
  max-width: 100%;
}

video, iframe {
  display: block;
  margin: 0 auto;
}

p, blockquote, iframe, img, ul, ol, pre, video {
  margin-bottom: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border: 1px solid #888;
}

em {
  font-style: italic;
}

li {
  padding: .25em 0;
  vertical-align: middle;
}
li > ol, li > ul {
  margin-bottom: inherit;
}

.deck-container {
  font-size: 16px;
  line-height: 1.25;
  color: #444;
}

.slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

h1 {
  color: #000;

}

h2 {
  color: #B9323E;
  border-bottom-color: #ccc;
}

h3 {
  color: #888;
}

pre {
  border-color: #ccc;
}

code {
  color: #888;
}

blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em 2em;
  color: #000;
  border-left: 5px solid #ccc;
}
blockquote p {
  margin: 0;
}
blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888;
}

::-moz-selection {
  background: #B9323E;
  color: #fff;
}

::selection {
  background: #B9323E;
  color: #fff;
}

a, a:hover, a:focus, a:active, a:visited {
  color: #B9323E;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

a.button {
  font-size: .7em;
  border-top-left-radius: .8em;
  border-top-right-radius: .8em;
  background-color: #eee;
  padding: .5em 0;
  display: block;
  text-align: center;
  width: 95%;
  margin-left: 2.5%;
  text-decoration: none;
}

a.button:hover {
  text-decoration: none;
  background-color: #ddd;
}

b {
   color: #B9323E;
   font-weight: bold;
}

.splash {
  background: url('splash.png') no-repeat right bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.splash, .splash h1, .thanks, .thanks h1 {
  color: #eee;
}

.thanks {
  background: url('thanks.png') no-repeat right bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.deck-container {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.75em;
  background: url('footer.png') no-repeat right bottom fixed; 
}

.deck-container > .slide {
  padding: 0 48px;
}

.slide .deck-before, .slide .deck-previous {
  opacity: 0.4;
}
.slide .deck-before:not(.deck-child-current) .deck-before, .slide .deck-before:not(.deck-child-current) .deck-previous, .slide .deck-previous:not(.deck-child-current) .deck-before, .slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}
.slide .deck-child-current {
  opacity: 1;
}

.deck-prev-link, .deck-next-link {
  background: #ccc;
  font-family: serif;
}
.deck-prev-link, .deck-prev-link:hover, .deck-prev-link:focus, .deck-prev-link:active, .deck-prev-link:visited, .deck-next-link, .deck-next-link:hover, .deck-next-link:focus, .deck-next-link:active, .deck-next-link:visited {
  color: #fff;
}
.deck-prev-link:hover, .deck-prev-link:focus, .deck-next-link:hover, .deck-next-link:focus {
  background: #B9323E;
  text-decoration: none;
}

.deck-status {
  color: #fff;
  right: 4em;
}

.on-slide-home .deck-status, .on-slide-Thanks .deck-status {
  display: none;
}

.deck-menu .slide {
  background: #eee;
}
.deck-menu .deck-current, .no-touch .deck-menu .slide:hover {
  background: #ddf;
}

.logo {
  background-image: url('logo.png');
  width: 185px;
  height: 90px;
  text-indent: -100%;
  border: none;
  position: fixed;
  bottom: -14px;
  left: .5em;
  padding: 0;
}

.who {
  font-style: italic;
  font-size: .8em;
  position: fixed;
  bottom: .1em;
  right: .5em;
}

table {
  width: 100%;  
}

table th, table td {
  font-size: .8em;
  text-align: left;
  padding: .5em;
}

table th:first-child {
  border-top-left-radius: .5em;
}

table th:last-child {
  border-top-right-radius: .5em;
}

table th {
  background-color: #eee;
}

table td {
  border: 1px solid #eee;
}

iframe { 
  width: 95%;
  height: 500px;
}

.span50 {
  margin: 0;
  padding: 0;
  width: 50%;
  float: left;
}

.span33 {
  margin: 0;
  padding: 0;
  width: 33%;
  float: left;
}

.span66 {
  margin: 0;
  padding: 0;
  width: 66%;
  float: left;
}

.span20 {
  margin: 0;
  padding: 0;
  width: 20%;
  float: left;
}

.span80 {
  margin: 0;
  padding: 0;
  width: 80%;
  float: left;
}

.span100 {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
}

ul.path, ul.cloud {
  margin-left: 0;
  background-color: #eee;
}

ul.cloud {
  border-radius: 1em;
  padding: 1em;
}

ul.path li, ul.cloud li {
  font-size: .4em;  
  display: inline;
  margin-right: .3em;
  color: #fff;
  background-color: #B9323E;
  border-radius: .5em;
  padding: 4px 1em;
  white-space: nowrap;
}

ul.cloud li {
  font-size: .6em;  
}

ul.path li:first-child {
  color: inherit;
  background-color: inherit;
  padding: 0 0 0 1em;
}

.push {
  margin-top: 2em;
}

.note {
  font-size: .8em;
  color: #B9323E;
}


