/* Print style sheet */



/* Set font to 16px/13pt, set background to white and font to black.*/
/* This saves ink */
body {
	font: 13pt Georgia, "Times New Roman", Times, serif;
	line-height: 1.3;
	background: #fff !important;
	color: #000;
}

h1 {
	font-family: Georgia;
	font-size: 24pt;
	color: #000;
	padding-top: 1em;
}

h2, h3, h4 {
	font-family: Georgia;
	font-size: 14pt;
	margin-top: 25px;
	color: #000;
}

header, .help{
	display: none;
}

hr {
	color: grey;
}

.button, .big-play, .big-play-js, .controls, .tab-slide {
	display: none !important;
}

blockquote, p.lyrics, p.chord, .song-list .group, .song-list a {
	font: inherit;
	color: #000;
}

p.lyrics {
	margin: 0;
	font-size:1.2em;
}

p.chord {
	margin-top: .1em;
	font-size: .9em;
	font-style: italic;
}

.song #tablature-block {
	display: block;
	page-break-inside: avoid;
}

.song .tablature .finger {
    color: black;
}


