/*******************************************
 * Product Lists Control
 ******************************************/

* {
  box-sizing: border-box;
}


.event {
  position: relative;
  width: 100%;
  padding: 1em;
  border: 2px solid white;
}

.event .icon {
  position: absolute;
  left: 0px;
  top: 24px;
  width: 25px;
  height: 25px;
  border-radius: 70px;
  padding: 9px;
  text-align: center;
  background-color: #b18e50;
  color: white;
}

.event:hover .icon { 
  background-color: #1eaedb;
  border: 5px solid #1eaedb;
}

.event .date {
  position: absolute;
  right: 5px;
  top: 32px;
  font-size: .7em;
}

.event .details {
  padding-left: 10px;
  margin-left: 20px;
  width: 100%;
}

.event .details p {
  color: #b18e50;;
  text-align: justify;
  text-justify: inter-word;
  padding: 5px 20px 0 0;
}

.event .details .highlight {
  margin-top: 2em;
  color: dimgray;
  font-size: .7em;
  quotes: '"' '"';
}

@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 500px) {
  .event .date {
    display: none;
    position: inherit;
  }
}


