/*******************************************
 * Product Lists Control
 ******************************************/

* {
  box-sizing: border-box;
}


.event {
  position: relative;
  width: 100%;
  padding: 1em;
  border: 2px solid white;
}

.event .icon {
  position: absolute;
  left: 0px;
  top: 24px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  padding: 9px;
  text-align: center;
  color: white;
}

.event:hover .icon { 
  border: 2px solid black;
}

.event .date {
  position: absolute;
  right: 5px;
  top: 32px;
  font-size: .7em;
}

.event .details {
  padding-left: 2em;
  margin-left: 4%;
  width: 100%;
}

.event .details p {
  padding: 5px 20px 0 0;
}

.event .details .highlight {
  margin-top: 2em;
  color: dimgray;
  font-size: .7em;
  quotes: '"' '"';
}

@media only screen and (max-width: 700px) {
  .event .date {
    display: none;
    position: inherit;
  }
}

@media only screen and (max-width: 500px) {
}


