/*******************************************
 * Link container
 ******************************************/

* {box-sizing: border-box;}

#links {
  position: relative;
  margin-bottom: 1em;
}


#links .item {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */  

  display: block;
  border: 1px solid #999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 130px;
  border-radius: 4px;
  margin-bottom: 1em;
}

#links .item:hover {
  border: 1px solid #eee;
}


#links .title {
  display: table-column;
  width: 29.99999%;
  float: right;
  clear: right;
}

#links .title img {
  width: 100%;
  height: 130px;
}

#links .details {
  display: table-column;
  width: 69.99999%;
  float:left;
  padding: 10px 0 0 20px;
}

#links .details h2 {
  padding-bottom: 10px;
}

#links .details p {
  padding: 0px;
}

#links .clearfix:after {
  content: "";
  display: table;
  clear: both;
}


