/*******************************************
 * Product Lists Control
 ******************************************/

* {
  box-sizing: border-box;
}


.products .item {
  position: relative;
  padding: 6px;
  font-size: .8em;
}

.products .box {
  display: flex;
  padding: 0;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.products img {
  border: 2px solid #ccc;
  width: 200px;
  height: auto;
}

.products img:hover {
  border: 2px solid #444;
}


.products .state {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background-color: rgb(0,0,0, .5);
  padding: 5px;
}

.products .summary {
  padding: .5em .5em 1em .5em;
  width: 100%;
  text-align: right;
  float: right;
}

/*  position: absolute;
  top: 10px;
  right: 20px;
  background-color: white;
  text-align: right;
  border-radius: 4px;
  padding: .5em .5em 1em .5em;
  width: 50%;
  overflow: hidden;
*/

.products h2 {
  font-size: 1.5em;
  padding: 0;
}

.products p {
  padding: 0 3px;
  margin: 0;
}

.products p.note {
  margin-top: 1em;
  font-style: italic;
  font-size: .8em;
}

@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 500px) {
  .products .box {
    display: block;
  }

  .products .summary {
    float: none;
    text-align: left;
  }

  .products img {
    width: 100%;
  }
}


