/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}


/* Color scheme
#b18e50 (brown)
#1eaedb (blue)
*/

body {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white; 
	color: #b18e50; 
	font-family: Verdana; 
	font-size: 15px; 
}

h1 {
	text-align: center;
	font-size: 1.3rem;
	padding: 10px 0;
	color: #b18e50;
}

h2 {
	font-size: 1.2rem;
	padding: 10px 0;
	color: #b18e50;
}

h3 {
	padding-bottom: .5em;
}

p {
	font-size: .9em;
	line-height: 1.2em;
}

img { 
	width: 100%;
}

a {
	color: #1eaedb;
	text-decoration: none;
}

hr {
	margin: 10px 0;
}

p {
	padding: 10px 0;
	text-align: justify
}

b {
	font-weight: bold;
}

ul {
	margin: 1em;
}

ul li {
	list-style-type: disc;
	font-size: .8em;
	padding-bottom: .5em;
}

form {
	padding: 2em; 
}

form label, form input, form button {
	display: block; 
	margin: 4px 0 2px 0;
}

blockquote {
	font-size: .8em;
	font-style: italic;
	padding: 1em;
}

blockquote::before {
	content: "\00AB";
}

blockquote::after {
	content: "\00BB";
}

#home .event .date, #home .side {
	display: none;
}

#home .event h2, #home .event .highlight {
	text-align: center;
}

#home .event .details {
	margin: 0;
	padding: 0;
}

#brand {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
} 

#language {
	position: absolute;
	z-index: 100;
	top: 3%;
	right: 5%;
} 

#ribbon {
	padding: 10px 0;
}

#ribbon ul {
	list-style-type: circle;
}

#ribbon ul li {
	list-style-type: circle;
	display: inline-block;
	font-size: .8em;
}

#ribbon ul li::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 0px 0 8px;
    display: inline-block;
    background-color: #1eaedb;
    vertical-align: middle;
}

#ribbon ul li:last-child::after {
		content: " ";
  	background-color: white;
}

#lingo {
	margin-top: 1em;
	font-size: .8em;
	font-style: italic;
	text-align: center;
}

#social {
	margin-top: 2em;
}

#social img{
	width: 20px;
	border-radius: 3px;
}

#copy  {
	font-size: .8em;
	padding: 40px 0 10px 0;
}

#tasks  {
	width: 100%;
}

#tasks td {
	padding: 0;
}

#tasks input {
	margin-top: 2em;
}

#tasks .assigned {
	text-align: right;
}

#tasks .assigned {
	text-align: right;
}

.error {
	color: red;
}

.code {
	color: #1eaedb;	
}

.mini {
	font-size: .5em
}

.example {
	color: #1eaedb;
	font-size: .8em;
	display: block;
	margin: 0 0 .5em 2em;
}

.bullet {
	color: #1eaedb;
	font-size: .8em;
	display: block;
	margin: 0 0 0 3em;
}

.bullet::before {
	content: "- ";
}

.read-toggle {
	background-color: #1eaedb;
	color: white;
	padding: 2px 5px;
	font-size: .5em;
	border-radius: 4px;
}

.more {
	display: none;
	width: 100%;
}

.press a {
	font-size: .8em;
}

/* Children Navigation */
.children {
	display: flex;
	justify-content: space-evenly; 
	gap:1em
	list-style-type: none;
	padding: 10px 0px;
}

.children li {
	display: inline-block;
	text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Override Skeleton button */
.button {
	color: #1eaedb;
	border-color: #1eaedb;
	padding: 10px;
	margin: 4px;
	height: inherit;
	line-height: inherit;
}

.button.active {
	color: white;
	background-color: #1eaedb;
}

.small {
	font-size: .6em;
}

.wide {
	width: 100%;
}

/* Language control */
html[lang="en-ca"] .fr-only {
	display: none;
}
html[lang="fr-ca"] .en-only {
	display: none;
}


/* Generic */
.center {
	text-align: center;
}

.hidden {
	display: none;
}

/* Print */
.print-only {
	display: none;
}

/* Phone related */
.phone-only {
	display: inherit;
}

.no-phone, #ribbon ul li.no-phone {
	display: none;
}

@media print {
    .print-only { display: inherit; }
    .no-print { display: none }
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
	body { font-size: 20px }
	.slider img { max-height: 300px }
	.phone-only { display: none }
	.no-phone { display: block }
}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
