/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/* Color scheme
#b18e50 (brown)
#1eaedb (blue)
*/

body {
	margin-top: 50px;
	margin-bottom: 20px;
	background-color: white; 
	color: #b18e50; 
	font-family: Verdana; 
	font-size: 15px; 
}

h1 {
	text-align: center;
	font-size: 1.3rem;
	padding: 10px 0;
	color: #b18e50;
}

h2 {
	font-size: 1.2rem;
	padding: 10px 0;
	color: #b18e50;
}

p {
	font-size: .9em;
}

img { 
	width: 100%;
}

a {
	color: #1eaedb;
	text-decoration: none;
}

hr {
	margin: 10px 0;
}

p {
	padding: 10px 0;
}

form {
	padding: 2em; 
}

form label, form input, form button {
	display: block; 
	margin: 4px 0 2px 0;
}


#home .event .date, #home .side {
	display: none;
}

#home .event h2, #home .event .highlight {
	text-align: center;
}

#home .event .details {
	margin: 0;
	padding: 0;
}

#brand {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
} 

#language {
	position: absolute;
	top: 3%;
	right: 5%;
} 

#contact {
	padding: 10px 0;
}

#contact ul {
	gagg-list-style-type: none;
}

#contact ul li {
	display: inline-block;
	font-size: .8em;
}

#contact ul li::after {
	content: " &dot; ";
}

#contact ul li:last-child::after {
	content: "";
}

#lingo {
	margin-top: 1em;
	font-size: .8em;
	font-style: italic;
	text-align: center;
}

#copy  {
	font-size: .8em;
	padding: 40px 0 10px 0;
}


.more {
	display: none;
	width: 100%;
}

.press a {
	font-size: .8em;
}

/* Children Navigation */
.children {
	display: flex;
	justify-content: space-evenly; 
	gap:1em
	list-style-type: none;
	padding: 10px 0px;
}

.children li {
	display: inline-block;
	text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Override Skeleton button */
.button {
	color: #1eaedb;
	border-color: #1eaedb;
	padding: 10px;
	margin: 4px;
	height: inherit;
	line-height: inherit;
}

.button.active {
	color: white;
	background-color: #1eaedb;
}

.small {
	font-size: .6em;
}

.wide {
	width: 100%;
}

/* Language control */
html[lang="en-ca"] .fr-only {
	display: none;
}
html[lang="fr-ca"] .en-only {
	display: none;
}


/* Generic */
.center {
	text-align: center;
}

.hidden {
	display: none;
}

/* Print */
.print-only {
	display: none;
}


@media print {
    .print-only { display: inherit; }
    .no-print { display: none }
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
	body { font-size: 20px }
	.slider img { max-height: 300px }
}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
