
#unittests ul {
	list-style: none;
}

#unittests li { 
	padding: 4px 0;
}

#unittests .badge { 
	padding: .7em .5em .5em .7em;
	margin-right: .5em;
	border-radius: .3em; 
	width: 4em; 
	font-size: .8em; 
	display: inline-block;
	text-transform: uppercase;
}

#unittests .pass { 
	background-color: green; 
	color: white
}

#unittests .fail { 
	background-color: red; 
	color: white
}

#unittests .skip {
	background-color: orange; 
	color: white
}

#unittests .push { 
	margin-top: 2em
}

#unittests #summary .badge {
	width: 4.5em;
}

#unittests #summary span { 
	margin-right: 1em;
}



